.storeIcon {
    float: right;
}

.FormReseña {
    border: #4E4D53 solid 1px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.FondoPublicarReseñas {
    background-color: rgb(178, 217, 230);
    height: 100vh;
}

.btnForm {
    float: right;
}
