.MuiAppBar-positionFixed-0294{
    position: relative;
}

.MuiAppBar-colorPrimary-0277 {
    background-image: linear-gradient(#58D498, #46E89C) !important;
    background-color: none;
}

.MuiToolbar-regular-0245 {
    background-image: linear-gradient(#58D498, #46E89C) !important;
    background-color: none;   
}